.info_container{
    margin-top: 80px;
    font-family: Trebuchet MS, Helvetica , sans-serif;
    font-size: 20px;
    margin-left: 30px;
    cursor:pointer;
    margin-bottom: 20px;
    background-color: red;
}

#list_container{
  margin-bottom: 15px;
  margin-top: 80px;
  margin-left: 5.5%;
}
.list_info{
width:80%;
height: 200px;
background-color: #fff;
margin-bottom: 3%;
box-shadow:5px 5px 5px #C9C9C9;
}
.list_img{
width: 400px;
height: 100%;
float: left;
overflow: hidden;
object-fit: cover;
}
.list_text{
  font-family:Trebuchet MS, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
#list_container a{
  text-decoration: none;
  color: #000;
}
#list_container ul,li{
  list-style-type: none;
}

.info_container table {
    font-family: arial black, sans-serif;
    border-collapse: collapse;
    width: 800px;
}

.info_container td, th {
    border: 5px solid black;
    text-align: center;
    padding: 10px;
}

.info_container tr:nth-child(even) {
    background-color: #f40000;
}


@media only screen and (max-width : 820px) {


}